<body>
    <div class="container">
        <%- include('emails/header') -%>

        <div class="content">
            <h1>You've just got an invite!</h1>

            <p>
                👋 <%= user.name %> has invited you to their hosted contest
                titled
                <b> <%= contest.title %> </b>
            </p>
            <br />
            <a href="<%= contest.url %>" class="cta-button">Accept Invite</a>
        </div>

        <%- include('emails/footer') -%>
    </div>
</body>
