<body>
    <div class="container">
        <%- include('emails/header') -%>

        <div class="content">
            <h1>Contest is now Public 🎈</h1>

            <p>Dear <%= user.name %>,</p>

            <p>
                The contest's visibility status was set to public and is now
                accessible to everyone.
            </p>

            <table
                class="contest-details"
                style="
                    background-color: #f1f1f1;
                    padding: 20px;
                    border-radius: 12px;
                    margin: 25px 0;
                    width: 100%;
                "
            >
                <tr>
                    <td style="font-weight: bold; padding-bottom: 5px">
                        <%= contest.title %>
                    </td>
                </tr>

                <% if(contest.startDate){ %>
                <tr>
                    <td>Submissions open at <%= contest.startDate %></td>
                </tr>
                <% } %> <% if(contest.endDate){ %>
                <tr>
                    <td>Submissions close at <%= contest.endDate %></td>
                </tr>
                <% } %>
            </table>

            <h3>What's next?</h3>
            <p>
                Share <a href="<%= contest.url %>"> your contest link</a> on
                your socials!
            </p>
            <p>
                Monitor the
                <a href="<%= contest.scoreboard %>"
                    >scoreboard (Insights & Evaluations)</a
                >.
            </p>

            <br />
            <br />

            <a href="<%= contest.url %>" class="cta-button">View Contest</a>
        </div>
        <%- include('emails/footer') -%>
    </div>
</body>
